@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');


body{
  margin:5px;
}

/* .mockup{
  width: 496px;
  height: 265px;
  background-image: url("interface3.png");
  position: absolute;
  z-index: 100;
  opacity: 1;
} */

h2{
  margin:0px;
  font-size: 18px;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.4;
  color:#343434;
}

h6{
  margin: 3px;
  color: #727272;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  padding-bottom: O;
}

p{
  color: #b3b3b3;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 5px;
}

.status p{
  font-size: 10px;
  word-spacing: 5px;
  padding-left: 2px;
  margin-top: 0;
}





.wrapper{
  /* background-color: brown; */
  border: 1px solid ²#e6e6e6;
  height:calc(265px - 6px);
  max-width:calc(496px - 10px); 
  margin: 1px;

  display: grid;
  grid-template-columns: 202px 285px;
  grid-template-rows:160px 69px;
}

.picture{
  height:calc(265px - 6px);  
  grid-row: 1 / 3;
  background-image: url("background3.png");
  background-size: cover;
}

.text{
  padding-top: 22px;
  padding-left: 18px;
}

.nametag{ 
  display: grid;
  grid-template-columns: 50px 150px 50px;
  padding-left: 18px;  
  padding-top: 40px;
}

.face {
  border-radius: 50%;
  width: 40px;
}

.bookmark{ 
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  max-width: 18px;
  padding:10px;
  margin: 2px;

}

.far, .fas{
  font-size: 17px;
  color: #b3b3b3;
}








