body{
    margin: 10px; 
    padding: 30px;
}

span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: #737d75;
    font-weight: 400;
}

span.font-diff{
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}

span.smallerfont {
    font-size: smaller;
}

h2{
    font-family:'Fira Code', monospace;
    color: #8dcca1;
    font-weight: 300;
    font-size: 18px;
    vertical-align: middle;
}


.wrapper { 
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#grunt, #gulp, #git, #npm {
    width: auto;
    flex: 20%;   
    margin: 10px;
    /* border: 1px dashed black; */
}

.gruntpic, .gulppic, .githookpic, .npmpic{
    text-align: center;
    padding-right:40px;
}

 @media screen and (max-width: 723px) {
    .wrapper{
        width:100%;
    }
    #grunt, #gulp, #git, #npm {
        flex:100%;
        align-items: center;
        margin:30px;}
}
