body {
    margin: 30px;
    padding: 10px;
    /* background-color: ##468df1;
    color: ##dae7fc; */
}

hr{
    border: none;
    height: 0.1px;
    background: #dae7fc;
    color: #dae7fc;
}

.wrapper {
    
    width: 25%;
    display: flex;
    flex-direction: column;
}

.title, .number, .subtitle, .chart,.secondhalfsubtitle, .secondhalf-wrapper, .footer {
    background-color: #468df1;
    color: #dae7fc;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px 25px;

}

.title{ 
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 14px;
}

.number{
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 10px;
}

.subtitle{
    font-size: 12px;
    color:#b6d1f9;
}

.chart{
    padding: 3px 25px;
    text-align: center;
}

/* second half css start */
.secondhalfsubtitle{
    padding-bottom: 0px;
    display: grid; 
    grid-template-columns:  90% 10%;
    grid-row: 40px;
}

.links-subtitle {
    font-size: 12px;
    text-align: left;
    color:#b6d1f9;
}


/* links grid start */
.secondhalf-wrapper {
    display: grid; 
    grid-template-columns:  90% 10%;
    grid-template-rows: 30px 30px 30px 30px 30px;
    justify-content: space-between;
}


.links{
    font-size: 12px;
    padding:0px;
    margin:0px;
}

.links-number{
    text-align: right;
    font-size: 12px;
}
/* links grid end */


.footer {
    text-align: right;
    font-size: 12px;
    padding-top: 30px;
}

/* media query for small screen */
@media screen and (max-width: 723px) {
    .wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .title, .number, .subtitle, .chart,.secondhalfsubtitle, .secondhalf-wrapper, .footer{
        flex:100%;
        align-items: center;
        margin:0px 5px;}

    .chart{
        text-align: center;
        padding-left:5px;
    }   
    
}
